#inputtt {
  border-radius: 0px 10px 10px 0px !important;
}

#navBooton {
  bottom: 0px;
  position: fixed;
  width: 100%;
}

#navegador{
  background: linear-gradient(120deg, #1cc88a, #014f37);
}

h1,h2{
  font-family: serif;
}


.fas-2x{
  font-size: 2em;
}

.fa{
  position: relative;
  display: table-cell;
  width: 60px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
}

.fa-search{
  height: 10px;
  top: -8px;
}
.middle{
  width: 100%;
  text-align: left;
}

.middle2{
  width: 100%;
  text-align: right;
}


/*Estilos Footer*/
footer .btn{
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #ffffff;
  margin: 10px;
  border-radius: 30%;
  /*box-shadow: 0 5px 15px -5px #00000070;*/
  box-shadow: 0 0px 12px 0px #00D6A9;
  color: #000000;
  overflow: hidden;
  position: relative;
}

footer .btn i{
  line-height: 40px;
  font-size: 20px;
  transition: 0.2s linear;
}

footer .btn:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}

footer .btn::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #0b2e13;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

footer{
  width: 100%;
  background: #202020;
  bottom: 0;
  position: absolute;

}

.divider{
  background-color: #17a673;
  height: 3px;
  width: 50px;
  margin: auto;
  margin-bottom: 25px;
}

.container-footer-all{
  width: 92%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}


.container-footer{
  width: 100%;
  background: #101010;
}

.my-custom-scrollbar {
  position: relative;
  height: 452px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}


.tabla-asistencia{
  margin-top: 30px;
  background: #f2f2f2;
  padding:60px 0;
  overflow: hidden;
}

.copyright{
  color: #C7C7C7;
}

.copyright a{
  text-decoration: none !important;
  color: white !important;
  font-weight: bold;

}

@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }
  50%{
    left: 10%;
    top: -30%;
  }
  100%{
    top: -10%;
    left: -10%;
  }
}

@media (max-width: 600px) {
    .middle2{
      text-align: left;
    }
    .boton{
      width: 100%;
      margin-top: 20px;
    }
}



@media (max-width: 990px) {
  .imagen-modal{
    display: none;
  }
}